---
import ExperienceItem from "./ExperienceItem.astro"
---

<ol class="relative border-s border-gray-200 ml-3">

    <li class="mb-10 ms-4">

        <ExperienceItem 
            date="Marzo 2022 - Actualidad",
            description="",
            title="FullStack Engineer - Informática Cano",
            tags={['B2B']},
        />

    </li>

</ol>
