---
import Angular from "@/icons/Angular.astro";
import CSS from "@/icons/CSS.astro";
import ExpressJs from "@/icons/Express.js.astro";
import HTML from "@/icons/HTML.astro";
import Ionic from "@/icons/Ionic.astro";
import JavaScript from "@/icons/JavaScript.astro";
import Jest from "@/icons/Jest.astro";
import JWT from "@/icons/JWT.astro";
import MySQL from "@/icons/MySQL.astro";
import MongoDB from "@/icons/MongoDB.astro";
import NodeJs from "@/icons/Node.js.astro";
import Nx from "@/icons/Nx.astro";
import Php from "@/icons/Php.astro";
import Puppeteer from "@/icons/Puppeteer.astro";
import Rabbitmq from "@/icons/Rabbitmq.astro";
import RxJS from "@/icons/RxJS.astro";
import Sass from "@/icons/Sass.astro";
import Skill from "@/components/Skill.astro";
import Slack from "@/icons/Slack.astro";
import Tailwind from "@/icons/Tailwind.astro";
import TypeScript from "@/icons/TypeScript.astro";
import Java from "../icons/Java.astro";
---

<div class="flex flex-100 justify-center flex-wrap gap-1.5">
    <Skill>
        <TypeScript class="size-4" />
        TypeScript
    </Skill>

    <Skill>
        <Angular class="size-4" />
        Angular
    </Skill>

    <Skill>
        <HTML class="size-4" />
        HTML
    </Skill>

    <Skill>
        <Tailwind class="size-4" />
        Tailwind CSS
    </Skill>

    <Skill>
        <Sass class="size-4" />
        Sass
    </Skill>

    <Skill>
        <Nx class="size-4" />
        Nx
    </Skill>

    <Skill>
        <RxJS class="size-4" />
        RxJS
    </Skill>

    <Skill>
        <NodeJs class="size-4" />
        Node.js
    </Skill>

    <Skill>
        <ExpressJs class="size-4" />
        Express.js
    </Skill>

    <Skill>
        <MongoDB class="size-4" />
        MongoDB
    </Skill>

    <Skill>
        <Rabbitmq class="size-4" />
        Rabbitmq
    </Skill>

    <Skill>
        <JWT class="size-4" />
        JWT
    </Skill>

    <Skill>
        <Puppeteer class="size-4" />
        Puppeteer
    </Skill>

    <Skill>
        <Jest class="size-4" />
        Jest
    </Skill>

    <Skill>
        <Php class="size-4" />
        Php
    </Skill>

    <Skill>
        <JavaScript class="size-4" />
        JavaScript
    </Skill>

    <Skill>jQuery</Skill>

    <Skill>
        <HTML class="size-4" />
        HTML
    </Skill>

    <Skill>
        <CSS class="size-4" />
        CSS
    </Skill>

    <Skill>
        <MySQL class="size-4" />
        MySQL
    </Skill>

    <Skill>Firebird</Skill>

    <Skill>
        <Slack class="size-4" />
        Slack
    </Skill>

    <Skill>
        <Ionic class="size-4" />
        Ionic
    </Skill>

    <Skill>
        <Java class="size-4" />
        Java
    </Skill>

    <Skill>SOLID</Skill>

    <Skill>DDD</Skill>
</div>
